[submodule "yulun/ohmni_android_comm_server"]
	path = yulun/ohmni_android_comm_server
	url = git@github.com:lunjohnzhang/ohmni_android_comm_server.git
[submodule "yulun/BackgroundAmbientSoundRecorder"]
	path = yulun/BackgroundAmbientSoundRecorder
	url = git@github.com:lunjohnzhang/BackgroundAmbientSoundRecorder.git
